.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.card {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.local td{
  padding: 18px
}