.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.card {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.39);
}

.cover {
  height: 440px;
  width: 440px;
  background-color: black;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.39);
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.row {
  display: flex;
  flex-direction: row;
}