.card {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 80%;
}

.local table {
  width: 100%;
}
.local td {
  border: 0;
  border-bottom: solid black 1px;
  padding-block: 18px;
}
.local td:hover {
  background-color: transparent;
}
